<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Anguala Lab</a>
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a [routerLink]="['/']" class="nav-link" href="#">Lab1</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/lab2']" class="nav-link" href="#">Lab2</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/lab3']" class="nav-link" href="#">Lab3</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/lab4']" class="nav-link" href="#">Lab4</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/lab5']" class="nav-link" href="#">Lab5</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/lab6']" class="nav-link" href="#">Lab6</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/lab7']" class="nav-link" href="#">Lab7</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/lab8']" class="nav-link" href="#">Lab8</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
    Manager
    </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Login</a>
                <a class="dropdown-item" href="#">Cart</a>
            </div>
        </li>
    </ul>
</nav>